*,
*::before,
*::after {
	-webkit-tap-highlight-color: transparent;
}

* {
	scrollbar-width: thin;
}

::selection {
	@apply bg-amber-100 text-amber-500;
}

::-webkit-scrollbar {
	width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
	@apply bg-gray-100; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-200; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	/* border: 3px solid orange; creates padding around scroll thumb */
}

// route transitions

.fade-in-right-leave-to {
	opacity: 0;
	transition: opacity 250ms;
}

.fade-in-right-enter {
	opacity: 0;
	transform: translate3d(40px, 0, 0);
}

.fade-in-right-enter-to {
	opacity: 0;
	animation-duration: 600ms;
	animation-fill-mode: both;
	animation-name: fadeInRight;
}

@keyframes fadeInRight {
	from {
		transform: translate3d(40px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
