.tooltip {
	@apply z-50;
	@apply outline-none;
	@apply font-primary;

	.tooltip-inner {
		@apply rounded-lg;
		@apply px-4;
		@apply py-2;
		@apply text-xs;
		@apply font-medium;
		@apply shadow-lg;
		@apply transition;
		@apply ease-in-out;
		@apply duration-150;
		@apply bg-gray-50;
		@apply text-gray-700;
	}

	.tooltip-arrow {
		@apply h-0;
		@apply w-0;
		@apply border-solid;
		@apply absolute;
		@apply border-gray-50;
		@apply z-30;
		@apply transition;
		@apply ease-in-out;
		@apply duration-150;
	}

	&[x-placement^='top'] {
		@apply mb-0;

		.tooltip-arrow {
			@apply mt-0;
			@apply mb-0;

			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
		}
	}

	&[x-placement^='bottom'] {
		@apply mt-0;

		.tooltip-arrow {
			@apply mt-0;
			@apply mb-0;

			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
		}
	}

	&[x-placement^='right'] {
		@apply ml-0;

		.tooltip-arrow {
			@apply ml-0;
			@apply mr-0;

			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
		}
	}

	&[x-placement^='left'] {
		@apply mr-0;

		.tooltip-arrow {
			@apply ml-0;
			@apply mr-0;

			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s, visibility 0.15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.15s;
	}
}
